{%- unless template == 'index' or template == 'cart' or template == 'list-collections' or template == '404' -%}
{%- assign t = template | split: '.' | first -%}

{% assign url = shop.secure_url %}
{% assign urlParam = '' %}
{% assign url1 = '' %}
{% if customer  %}
	{% if customer.metafields.SAGE.ARDivisionNo == '22' %}  
      {% assign url1 = '/pages/multifamily' %}
      {% assign urlParam = '?usertype=multifamily' %}
	{% elsif customer.metafields.SAGE.ARDivisionNo == '20' %}  
      {% assign urlParam = '?usertype=dealer' %}
      {% assign url1 = '/pages/dealer' %}
	{% elsif customer.metafields.SAGE.ARDivisionNo == '23' %}  
      {% assign url1 = '/pages/homebuilder' %}
      {% assign urlParam = '?usertype=builder' %}
	{% elsif customer.metafields.SAGE.ARDivisionNo == '30' %}  
      {% assign url1 = '/pages/hotel' %}
      {% assign urlParam = '?usertype=hotel' %}
	{% else %}
		{% assign url1 = '' %}
	{% endif %}
{% endif %}

<nav class="breadcrumbs Breadcrumbs_main_new" role="navigation" aria-label="breadcrumbs">
  <ol class="breadcrumbs__list">
    <li class="breadcrumbs__item">
      <a class="breadcrumbs__link" href="{{url}}{{url1}}">Home</a>
    </li>
    {%- case t -%}
      {%- when 'page' -%}
        <li class="breadcrumbs__item">
          <span class="breadcrumbs__link" aria-current="page">{{ page.title }}</span>
        </li>
      {%- when 'product' -%}
        {%- if collection.url -%}
          <li class="breadcrumbs__item">
            {{ collection.title | link_to: collection.url }}
          </li>
        {%- endif -%}
        <li class="breadcrumbs__item">
          <span class="breadcrumbs__link" aria-current="page">{{ product.title }}</span>
        </li>
      {%- when 'collection' and collection.handle -%}
        {%- if current_tags -%}
          <li class="breadcrumbs__item">
            {{ collection.title | link_to: collection.url }}
          </li>
          <li class="breadcrumbs__item">
            {%- capture tag_url -%}{{ collection.url }}/{{ current_tags | join: "+"}}{%- endcapture -%}
            <a class="breadcrumbs__link" href="{{ tag_url }}" aria-current="page">{{ current_tags | join: " + "}}</a>
          </li>
        {%- else -%}
          <li class="breadcrumbs__item">
            <span class="breadcrumbs__link" aria-current="page">{{ collection.title }}</span>
          </li>
        {%- endif -%}
      {%- when 'blog' -%}
        {%- if current_tags -%}
          <li class="breadcrumbs__item">
            {{ blog.title | link_to: blog.url }}
          </li>
          <li class="breadcrumbs__item">
            {%- capture tag_url -%}{{blog.url}}/tagged/{{ current_tags | join: "+" }}{%- endcapture -%}
            <a class="breadcrumbs__link" href="{{ tag_url }}" aria-current="page">{{ current_tags | join: " + " }}</a>
          </li>
        {%- else -%}
          <li class="breadcrumbs__item">
            <span class="breadcrumbs__link" aria-current="page">{{ blog.title }}</span>
          </li>
        {%- endif -%}
      {%- when 'article' -%}
        <li class="breadcrumbs__item">
          {{ blog.title | link_to: blog.url }}
        </li>
        <li class="breadcrumbs__item">
          <a class="breadcrumbs__link" href="{{ article.url }}" aria-current="page">{{ article.title }}</a>
        </li>
      {%- else -%}
        <li class="breadcrumbs__item">
          <span class="breadcrumbs__link" aria-current="page">{{ page_title }}</span>
        </li>
    {%- endcase -%}
  </ol>
</nav>
{%- endunless -%}