 <div class="item-line">
             <div class="item-line-inner">
                <div class="image">
               {%- if line_item.image != blank -%}
                    <a href="{{ line_item.url }}">{{
                      line_item.image | 
                      image_url: width: img.width | 
                      image_tag: widths: '50, 60, 71, 80, 100', 
                      fetchpriority: 'auto', 
                      class:''
                    }}</a>
                {%- endif -%}
                  </div>
             <div class="text">

               
               
                 <a href="{{ line_item.url }}" class="title">
                   {%- if line_item.product -%}
                     {{ line_item.product.title | escape }}
                   {%- else -%}
                     {{ line_item.title | split: ' - ' | first | escape }}
                   {%- endif -%}
                   (x{{ line_item.quantity }})
                 </a>
                
                 <div class="item-properties">
                   
                   <!-- Slim (2 ¼” in) -->

                  
                  {%- if line_item.properties['_unit'] != blank -%}
                     Room/Unit #: {{ line_item.properties['_unit'] }}
                   {%- endif -%}
                   
                   {%- if line_item.properties['_PO'] != blank -%}
                      {%- if line_item.properties['_unit'] != blank -%}&nbsp;&nbsp;|&nbsp;&nbsp;{%- endif -%}
                     PO #: {{ line_item.properties['_PO'] }}
                   {%- endif -%}
                   
                 </div>

      


               
               {%- assign meaturement_available = false -%}
               {%- if line_item.properties['width'] != blank or line_item.properties['_width'] != blank -%}
                 {%- if line_item.properties['height'] != blank or line_item.properties['_height'] != blank -%}
                     {%- assign meaturement_available = true -%}
                 {%- endif -%}
               {%- endif -%}


               {%- assign frame_size = false -%}
               {%- if line_item.properties['frame_Width'] != blank or line_item.properties['_frame_Width'] != blank -%}
                 {%- if line_item.properties['frame_Height'] != blank or line_item.properties['_frame_Height'] != blank -%}
                     {%- assign frame_size = true -%}
                 {%- endif -%}
               {%- endif -%}
               
              {%- if meaturement_available -%}
                 <div js-view-more="{{ line_item.id }}" class="item-properties-details{% if forloop_first %} active{% endif %}">
                    <span class="view-details">{{ 'customer.order.view_details' | t }}</span>
                    <span class="hide-details">{{ 'customer.order.hide_details' | t }}</span>
                 </div>
               {%- endif -%}
              
               </div>
             </div>

             

             
             {%- if meaturement_available -%}
                <div js-view-content="{{ line_item.id }}" class="item-properties-content{% if forloop_first %} active{% endif %}">

                
                <div class="properties-line">
                     <div class="name">MIRROR SIZE</div> 
                     <div class="value">Width: {{ line_item.properties['_width'] }}{{ line_item.properties['width'] }} {{ line_item.properties['_width_fraction'] }}{{ line_item.properties['width_fraction'] }}”, Height: {{ line_item.properties['_height'] }}{{ line_item.properties['height'] }} {{ line_item.properties['_height_fraction'] }}{{ line_item.properties['height_fraction'] }}”</div>  
                </div> 

                  {%- if frame_size -%}
                   <div class="properties-line">
                       <div class="name">frame size</div> 
                       <div class="value">Width: {{ line_item.properties['_frame_Width'] }}{{ line_item.properties['frame_Width'] }} {{ line_item.properties['_frame_WidthFraction'] }}{{ line_item.properties['frame_WidthFraction'] }}”, Height: {{ line_item.properties['_frame_Height'] }}{{ line_item.properties['frame_Height'] }} {{ line_item.properties['_frame_HeightFraction'] }}{{ line_item.properties['frame_HeightFraction'] }}”</div>  
                   </div> 
                  {%- endif -%}

                  <div class="properties-line">
                     <div class="name">SPACE AROUND</div> 
                     <div class="value">Top: {{ line_item.properties['_clearance_top'] }}{{ line_item.properties['clearance_top'] }}”,  Bottom: {{ line_item.properties['_clearance_bottom'] }}{{ line_item.properties['clearance_bottom'] }}”, Right: {{ line_item.properties['_clearance_right'] }}{{ line_item.properties['clearance_right'] }}”,  Left: {{ line_item.properties['_clearance_left'] }}{{ line_item.properties['clearance_left'] }}”</div>  
                 </div> 


                    {%- assign clips_top = "" -%}
                    {%- assign clips_bottom = "" -%}
                    {%- assign clips_right = "" -%}
                    {%- assign clips_left = "" -%}


                   {%- if line_item.properties['_clips_channels_top'] != blank -%}
                  
                   {%- if line_item.properties['_clips_channels_top'] == "Yes" -%}
                      {%- assign clips_top = "Top" | append: " " -%}
                    {%- endif -%}
                     {%- if line_item.properties['_clips_channels_left'] == "Yes" -%}
                      {%- assign clips_left = "Left" -%}
                    {%- endif -%}
                     {%- if line_item.properties['_clips_channels_right'] == "Yes" -%}
                      {%- assign clips_right = "Right" | append: " " -%}
                    {%- endif -%}
                    {%- if line_item.properties['_clips_channels_bottom'] == "Yes" -%}
                      {%- assign clips_bottom = "Bottom" | append: " " -%}
                    {%- endif -%}
                    
                    

                  {%- else -%}
                  
                    {%- if line_item.properties['clips_channels_top'] == "Yes" -%}
                      {%- assign clips_top = "Top" | append: " " -%}
                    {%- endif -%}
                     {%- if line_item.properties['clips_channels_left'] == "Yes" -%}
                      {%- assign clips_left = "Left" -%}
                    {%- endif -%}
                      {%- if line_item.properties['clips_channels_right'] == "Yes" -%}
                      {%- assign clips_right = "Right" | append: " " -%}
                    {%- endif -%}
                    {%- if line_item.properties['clips_channels_bottom'] == "Yes" -%}
                      {%- assign clips_bottom = "Bottom" | append: " " -%}
                    {%- endif -%}
                   
                    


                  {%- endif -%}
                  
                  {%- capture clips_channels -%}{{ clips_top }} {{ clips_bottom }} {{ clips_right  }} {{ clips_left }}{%- endcapture -%}

                <div class="properties-line">
                     <div class="name">CLips or channels</div> 
                     <div class="value">{%- if clips_channels != blank -%}{{ clips_channels | split: ' ' | join: ', ' }}{%- else -%}No{%- endif -%}</div> 
                 </div> 

                 {%- if line_item.properties['_edges_align'] or line_item.properties['edges_align'] -%}  
                    <div class="properties-line">
                         <div class="name">aligned with vanity</div> 
                         <div class="value">{{ line_item.properties['_edges_align'] }} {{ line_item.properties['edges_align'] }}</div>  
                     </div> 
                  {%- endif -%}
                  
               </div>
              {%- endif -%}
             
           </div>