{{ 'hb_product-grid.css' |  asset_url |  stylesheet_tag }}
{{ 'hb-collection-filters.css' |  asset_url |  stylesheet_tag }}
{{ 'component-facets.css' | asset_url | stylesheet_tag }}

<div class="hb_product_grid">
  {%  render 'hb-collection-banner' %}
    {% paginate collection.products by 1000 %}
    <div class="page-width">
        {%- if section.settings.enable_filtering or section.settings.enable_sorting -%}
            <aside
                aria-labelledby="verticalTitle"
                class="facets-wrapper{% unless section.settings.enable_filtering %} facets-wrapper--no-filters{% endunless %}"
                id="main-collection-filters"
                data-id="{{ section.id }}"
            >
                {% render 'facets',
                    results: collection,
                    enable_filtering: section.settings.enable_filtering,
                    enable_sorting: section.settings.enable_sorting,
                    filter_type: section.settings.filter_type,
                    paginate: paginate
                %}
            </aside>
        {%- endif -%}
        <div id="ProductGridContainer">
            <div class="hb_product_grid--wrapper collection" >
                <div class="hb_product_grid__image-wrap" id="product-grid" data-id="{{ section.id }}">
                    {%- assign colTestimonialCategory = collection.metafields.custom.testimonial_category_name | downcase -%}
                    {%- for product in collection.products -%}
                        {% for inspirationData in product.metafields.custom.select_inspirations.value %}
                        {%- assign metaobjectTestimonialCategory = inspirationData.testimonial_category | downcase -%}
                        {%- if inspirationData != blank -%}
                            {%- if colTestimonialCategory == "all" -%}
                                <div class="hb_product_grid__col" js-product-popup-parent>
                                    {% for item in inspirationData.testimonial_image.value %} 
                                    {% if forloop.first %}
                                        <div class="hb_product_grid__image" js-product-popup-trigger>
                                            <img src="{{item | image_url: width: '1000x'}}" alt="">   
                                        </div>
                                        {% endif %}  
                                    {% endfor %} 
                                    {%- render 'hb_popup',
                                        inspirationData: inspirationData, 
                                        product: product, 
                                        -%}
                                </div>
                            {%- else -%}
                                {%- if metaobjectTestimonialCategory == colTestimonialCategory -%}
                                    <div class="hb_product_grid__col" js-product-popup-parent>
                                        {% for item in inspirationData.testimonial_image.value %} 
                                        {% if forloop.first %}
                                            <div class="hb_product_grid__image" js-product-popup-trigger>
                                                <img src="{{item | image_url: width: '1000x'}}" alt="">   
                                            </div>
                                            {% endif %}  
                                        {% endfor %} 
                                        {%- render 'hb_popup',
                                            inspirationData: inspirationData, 
                                            product: product, 
                                            -%}
                                    </div>  
                                {%- endif -%}  
                            {%- endif -%}
                            {%- endif -%}
                        {% endfor %} 
                    {%- endfor -%}
                </div>
                {% if paginate.next %}
                    <div class="button-wrap" js-btn-load-more>
                        <a href="{{ paginate.next.url }}" class="hb_product_grid--btn">{{ section.settings.btn_text }}</a>
                    </div>
                {% endif %}
            </div>   
        </div>
    </div>
    {% endpaginate %}
</div>
<script src="{{ 'masonry.js' | asset_url }}" defer ></script>
<script src="{{ 'facets.js' | asset_url }}" defer="defer"></script>
<script src="{{ 'infiniteScroll.js' | asset_url }}" defer ></script>

<script>
  document.addEventListener('DOMContentLoaded', function () {
    function ajaxinate(){
        var endlessScroll = new Ajaxinate({
            container: '#product-grid',
            pagination: '[js-btn-load-more]',
            loadingText:"loading...",
          });
    }
    ajaxinate()
    document.addEventListener('ajaxinate:init', ajaxinate);
  });
</script> 
<script>
    let masonryGallery;
    document.addEventListener('DOMContentLoaded', function() {
        function masonryLayoutFunc() {
            const elem = document.querySelector('.hb_product_grid__image-wrap');
            masonryGallery = new Masonry(elem, { 
                itemSelector: '.hb_product_grid__col',
                columnWidth: '.hb_product_grid__col',
                percentPosition: true
            });
        }
        masonryLayoutFunc()
        document.addEventListener('masonry:init', () => {
            masonryGallery.destroy();
            setTimeout(function() {
                masonryLayoutFunc()
            }, 500)
        })

      const intervalMasonry = setInterval(function() {
        masonryLayoutFunc()
      }, 1000)

      setTimeout(function() {
        clearInterval(intervalMasonry)
      }, 8000)
      
    });
</script>

{% schema %}
{  
    "name": "Hb Product Grid",
    "settings": [
        {
            "type": "checkbox",
            "id": "enable_filtering",
            "default": true,
            "label": "t:sections.main-collection-product-grid.settings.enable_filtering.label",
            "info": "t:sections.main-collection-product-grid.settings.enable_filtering.info"
        },
        {
            "type": "select",
            "id": "filter_type",
            "options": [
                {
                "value": "horizontal",
                "label": "t:sections.main-collection-product-grid.settings.filter_type.options__1.label"
                },
                {
                "value": "vertical",
                "label": "t:sections.main-collection-product-grid.settings.filter_type.options__2.label"
                },
                {
                "value": "drawer",
                "label": "t:sections.main-collection-product-grid.settings.filter_type.options__3.label"
                }
            ],
            "default": "horizontal",
            "label": "t:sections.main-collection-product-grid.settings.filter_type.label",
            "info": "t:sections.main-collection-product-grid.settings.filter_type.info"
        },
        {
            "type": "checkbox",
            "id": "enable_sorting",
            "default": true,
            "label": "t:sections.main-collection-product-grid.settings.enable_sorting.label"
        },
        {
            "type": "text",
            "id": "btn_text",
            "label": "Button Text"
        },
        {
            "type": "url",
            "id": "btn_url",
            "label": "Button Url" 
        }
        ],
        "presets": [
            { 
                "name": "Hb Product Grid"
            }
        ]
}
{% endschema %}