{%- if section.settings.main_full_video != blank or section.settings.main_full_image != blank or section.settings.timerdate != blank or section.settings.main_sub_heading_text != blank or section.settings.main_heading_text != blank or section.settings.main_information_text != blank or section.settings.main_button_link != blank -%}
  <div class="Index_free_sale_countdown_main_new {% if section.settings.hide_for_desktop == true %} Index_free_sale_countdown_hide_desktop_new {% endif %}" style="background: {{ section.settings.main_background_color }};">
    <div class="Index_free_sale_countdown_inner_new" data-aos="fade-in">
      {%- if section.settings.main_full_video != blank or section.settings.main_full_image != blank -%}
        <div class="Index_free_sale_countdown_mainboths_new">
          <div class="Index_free_sale_countdown_innerboths_new">
            {%- if section.settings.main_full_video != blank -%}
              <div class="Index_free_sale_countdown_innerboths_videoimage_new">
                {{ section.settings.main_full_video | video_tag: image_size: 'master', controls: false, autoplay: true, loop: true }}
              </div>
            {% else %}  
              {%- if section.settings.main_full_image != blank -%}
                <div class="Index_free_sale_countdown_innerboths_videoimage_new">
                  {{
                    section.settings.main_full_image | 
                    image_url: width: img.width | 
                    image_tag: widths: '750, 900, 1080, 1296, 1512, 1728, 1944, 2048', 
                    fetchpriority: 'auto', 
                    class:'Common_image_new'
                  }}
                </div>
              {%- endif -%}
            {%- endif -%}
          </div>
        </div>
      {%- endif -%}
      {%- if section.settings.timerdate != blank or section.settings.main_sub_heading_text != blank or section.settings.main_heading_text != blank or section.settings.main_information_text != blank or section.settings.main_button_link != blank -%}
        <div class="Index_free_sale_countdown_maindetail_new">
          <div class="Index_free_sale_countdown_innerdetail_new">
            {%- if section.settings.timerdate != blank -%}
              <div class="Index_free_sale_countdown_innerdetail_maintimer_new">
                <div class="Index_free_sale_countdown_innerdetail_innertimer_new">
                  <div id="flipdown_{{ section.id | replace: '-', '_' }}" class="flipdown flipdown_small_timer flipdown_{{ section.id | replace: '-', '_' }}"></div>
                </div>
              </div>
            {%- endif -%}
            {%- if section.settings.main_sub_heading_text != blank -%}
              <div class="Index_free_sale_countdown_innerdetail_texts_new">
                <h4>{{ section.settings.main_sub_heading_text }}</h4>
              </div>
            {%- endif -%}
            {%- if section.settings.main_heading_text != blank -%}
              <div class="Common_title_new Index_free_sale_countdown_innerdetail_title_new">
                <h2>{{ section.settings.main_heading_text }}</h2>
              </div>
            {%- endif -%}
            {%- if section.settings.main_information_text != blank -%}
              <div class="Index_free_sale_countdown_innerdetail_infos_new">
                {{ section.settings.main_information_text }}
              </div>
            {%- endif -%}
            {%- if section.settings.main_button_text != blank and section.settings.main_button_link != blank -%}
              <div class="Index_free_sale_countdown_innerdetail_button_new">
                <a href="{{ section.settings.main_button_link }}" class="button">
                  {{ section.settings.main_button_text }}
                </a>
              </div>
            {%- endif -%}
          </div>
        </div>
      {%- endif -%}  
    </div>
  </div>
{%- endif -%}  

{% if section.settings.timerdate != blank %}
  <script>

    "use strict";function _typeof(obj){if(typeof Symbol==="function"&&typeof Symbol.iterator==="symbol"){_typeof=function _typeof(obj){return typeof obj;};}else{_typeof=function _typeof(obj){return obj&&typeof Symbol==="function"&&obj.constructor===Symbol&&obj!==Symbol.prototype?"symbol":typeof obj;};}return _typeof(obj);}
    function _classCallCheck(instance,Constructor){if(!(instance instanceof Constructor)){throw new TypeError("Cannot call a class as a function");}}
    function _defineProperties(target,props){for(var i=0;i<props.length;i++){var descriptor=props[i];descriptor.enumerable=descriptor.enumerable||false;descriptor.configurable=true;if("value"in descriptor)descriptor.writable=true;Object.defineProperty(target,descriptor.key,descriptor);}}
    function _createClass(Constructor,protoProps,staticProps){if(protoProps)_defineProperties(Constructor.prototype,protoProps);if(staticProps)_defineProperties(Constructor,staticProps);return Constructor;}
    var FlipDown_{{ section.id | replace: '-', '_' }}=function(){function FlipDown_{{ section.id | replace: '-', '_' }}(uts){var el=arguments.length>1&&arguments[1]!==undefined?arguments[1]:'flipdown_{{ section.id | replace: '-', '_' }}';var opt=arguments.length>2&&arguments[2]!==undefined?arguments[2]:{};_classCallCheck(this,FlipDown_{{ section.id | replace: '-', '_' }});if(typeof uts!=='number'){throw new Error("FlipDown: Constructor expected unix timestamp, got ".concat(_typeof(uts)," instead."));}
    if(_typeof(el)==='object'){opt=el;el='flipdown_{{ section.id | replace: '-', '_' }}';}
    this.version='0.2.2';this.initialised=false;this.now=this._getTime();this.epoch=uts;this.countdownEnded=false;this.hasEndedCallback=null;this.element=document.getElementById(el);this.rotors=[];this.rotorLeafFront=[];this.rotorLeafRear=[];this.rotorTops=[];this.rotorBottoms=[];this.countdown=null;this.daysRemaining=0;this.clockValues={};this.clockStrings={};this.clockValuesAsString=[];this.prevClockValuesAsString=[];this.opts=this._parseOptions(opt);this._setOptions();console.log("FlipDown ".concat(this.version," (Theme: ").concat(this.opts.theme,")"));}
    _createClass(FlipDown_{{ section.id | replace: '-', '_' }},[{key:"start",value:function start(){if(!this.initialised)this._init();this.countdown=setInterval(this._tick.bind(this),1000);return this;}},{key:"ifEnded",value:function ifEnded(cb){this.hasEndedCallback=function(){cb();this.hasEndedCallback=null;};return this;}},{key:"_getTime",value:function _getTime(){return new Date().getTime()/1000;}},{key:"_hasCountdownEnded",value:function _hasCountdownEnded(){if(this.epoch-this.now<0){this.countdownEnded=true;if(this.hasEndedCallback!=null){this.hasEndedCallback();this.hasEndedCallback=null;}
    return true;}else{this.countdownEnded=false;return false;}}},{key:"_parseOptions",value:function _parseOptions(opt){return{theme:opt.hasOwnProperty('theme')?opt.theme:'dark'};}},{key:"_setOptions",value:function _setOptions(){this.element.classList.add("flipdown__theme-dark")}},{key:"_init",value:function _init(){this.initialised=true;if(this._hasCountdownEnded()){this.daysremaining=0;}else{this.daysremaining=Math.floor((this.epoch-this.now)/86400).toString().length;}
    var dayRotorCount=this.daysremaining<=2?2:this.daysremaining;for(var i=0;i<dayRotorCount+6;i++){this.rotors.push(this._createRotor(0));}
    var dayRotors=[];for(var i=0;i<dayRotorCount;i++){dayRotors.push(this.rotors[i]);}
    this.element.appendChild(this._createRotorGroup(dayRotors));var count=dayRotorCount;for(var i=0;i<3;i++){var otherRotors=[];for(var j=0;j<2;j++){otherRotors.push(this.rotors[count]);count++;}
    this.element.appendChild(this._createRotorGroup(otherRotors));}
    this.rotorLeafFront=Array.prototype.slice.call(this.element.getElementsByClassName('rotor-leaf-front'));this.rotorLeafRear=Array.prototype.slice.call(this.element.getElementsByClassName('rotor-leaf-rear'));this.rotorTop=Array.prototype.slice.call(this.element.getElementsByClassName('rotor-top'));this.rotorBottom=Array.prototype.slice.call(this.element.getElementsByClassName('rotor-bottom'));this._tick();this._updateClockValues(true);return this;}},{key:"_createRotorGroup",value:function _createRotorGroup(rotors){var rotorGroup=document.createElement('div');rotorGroup.className='rotor-group';var dayRotorGroupHeading=document.createElement('div');dayRotorGroupHeading.className='rotor-group-heading';appendChildren(rotorGroup,rotors);rotorGroup.appendChild(dayRotorGroupHeading);return rotorGroup;}},{key:"_createRotor",value:function _createRotor(){var v=arguments.length>0&&arguments[0]!==undefined?arguments[0]:0;var rotor=document.createElement('div');var rotorLeaf=document.createElement('div');var rotorLeafRear=document.createElement('figure');var rotorLeafFront=document.createElement('figure');var rotorTop=document.createElement('div');var rotorBottom=document.createElement('div');rotor.className='rotor';rotorLeaf.className='rotor-leaf';rotorLeafRear.className='rotor-leaf-rear';rotorLeafFront.className='rotor-leaf-front';rotorTop.className='rotor-top';rotorBottom.className='rotor-bottom';rotorLeafRear.textContent=v;rotorTop.textContent=v;rotorBottom.textContent=v;appendChildren(rotor,[rotorLeaf,rotorTop,rotorBottom]);appendChildren(rotorLeaf,[rotorLeafRear,rotorLeafFront]);return rotor;}},{key:"_tick",value:function _tick(){this.now=this._getTime();var diff=this.epoch-this.now<=0?0:this.epoch-this.now;this.clockValues.d=Math.floor(diff/86400);diff-=this.clockValues.d*86400;this.clockValues.h=Math.floor(diff/3600);diff-=this.clockValues.h*3600;this.clockValues.m=Math.floor(diff/60);diff-=this.clockValues.m*60;this.clockValues.s=Math.floor(diff);this._updateClockValues();this._hasCountdownEnded();}},{key:"_updateClockValues",value:function _updateClockValues(){var _this=this;var init=arguments.length>0&&arguments[0]!==undefined?arguments[0]:false;this.clockStrings.d=pad(this.clockValues.d,2);this.clockStrings.h=pad(this.clockValues.h,2);this.clockStrings.m=pad(this.clockValues.m,2);this.clockStrings.s=pad(this.clockValues.s,2);this.clockValuesAsString=(this.clockStrings.d+this.clockStrings.h+this.clockStrings.m+this.clockStrings.s).split('');this.rotorLeafFront.forEach(function(el,i){el.textContent=_this.prevClockValuesAsString[i];});this.rotorBottom.forEach(function(el,i){el.textContent=_this.prevClockValuesAsString[i];});function rotorTopFlip(){var _this2=this;this.rotorTop.forEach(function(el,i){if(el.textContent!=_this2.clockValuesAsString[i]){el.textContent=_this2.clockValuesAsString[i];}});}
    function rotorLeafRearFlip(){var _this3=this;this.rotorLeafRear.forEach(function(el,i){if(el.textContent!=_this3.clockValuesAsString[i]){el.textContent=_this3.clockValuesAsString[i];el.parentElement.classList.add('flipped');var flip=setInterval(function(){el.parentElement.classList.remove('flipped');clearInterval(flip);}.bind(_this3),500);}});}
    if(!init){setTimeout(rotorTopFlip.bind(this),500);setTimeout(rotorLeafRearFlip.bind(this),500);}else{rotorTopFlip.call(this);rotorLeafRearFlip.call(this);}
    this.prevClockValuesAsString=this.clockValuesAsString;}}]);return FlipDown_{{ section.id | replace: '-', '_' }};}();function pad(n,len){n=n.toString();return n.length<len?pad("0"+n,len):n;}
    function appendChildren(parent,children){children.forEach(function(el){parent.appendChild(el);});}
      
    document.addEventListener('DOMContentLoaded', () => {
    
      // Unix timestamp (in seconds) to count down to
      //  var twoDaysFromNow = (new Date().getTime() / 1000) + (86400 * 2) + 1;
      //var twoDaysFromNow = (new Date("{{ section.settings.timerdate }}").getTime() / 1000)
      
      const dateStr = '{{ section.settings.timerdate }}';
      const date = new Date(dateStr);
      const timestampInMs = date.getTime();
      const twoDaysFromNow = Math.floor(date.getTime() / 1000);
      
      // Set up FlipDown
      var flipdown_{{ section.id | replace: '-', '_' }} = new FlipDown_{{ section.id | replace: '-', '_' }}(twoDaysFromNow)
    
        // Start the countdown
        .start()
    
        // Do something when the countdown ends
        .ifEnded(() => {
          console.log('The countdown has ended!');
          $(".Index_free_sale_countdown_innerdetail_maintimer_new").css("display","none");
        });
    });
  </script>

  
{% endif %}

{% schema %}
  {
    "name": "Index Free Sale Countdown",
    "class": "Index_free_sale_countdown_new",
    "settings": [
      {
        "type": "checkbox",
        "id": "hide_for_desktop",
        "label": "Hide Section for Desktop"
      },
      {
        "type": "color",
        "id": "main_background_color",
        "label": "Add Main Background Color",
        "default": "#F6F3F2"
      },
      {
        "type": "video",
        "id": "main_full_video",
        "label": "Add Main Full Video"
      },
      {
        "type": "image_picker",
        "id": "main_full_image",
        "label": "Add Main Full Image"
      },
      {
        "type": "textarea",
        "id": "timerdate",
        "label": "Add Main Timer Date",
        "info": "Date Format : 2024-07-15 24:00:00 ETC.."
      },
      {
        "type": "textarea",
        "id": "main_sub_heading_text",
        "label": "Add Main Sub Heading Text",
        "default": "Need Help Deciding?"
      },
      {
        "type": "textarea",
        "id": "main_heading_text",
        "label": "Add Main Heading Text",
        "default": "Shop Our FREE<br>Sample Sale"
      },
      {
        "type": "richtext",
        "id": "main_information_text",
        "label": "Add Main Information Text",
        "default": "<p>Buy one get one FREE sample sale, available for a limited time only</p>"
      },
      {
        "type": "text",
        "id": "main_button_text",
        "label": "Add Main Button Text",
        "default": "Shop Now"
      },
      {
        "type": "url",
        "id": "main_button_link",
        "label": "Add Main Button Link",
        "default": "/"
      }
    ],
    "presets": [
      {
        "name": "Index Free Sale Countdown"
      }
    ]
  }
{% endschema %}