{{ 'template-collection.css' | asset_url | stylesheet_tag }}
{{ 'component-card.css' | asset_url | stylesheet_tag }}
{{ 'component-price.css' | asset_url | stylesheet_tag }}

{% if section.settings.image_shape == 'blob' %}
  {{ 'mask-blobs.css' | asset_url | stylesheet_tag }}
{%- endif -%}

{{ 'quick-add.css' | asset_url | stylesheet_tag }}

{%- if section.settings.quick_add == 'standard' -%}
  <script src="{{ 'quick-add.js' | asset_url }}" defer="defer"></script>
  <script src="{{ 'product-form.js' | asset_url }}" defer="defer"></script>
{%- endif -%}

{%- if section.settings.quick_add == 'bulk' -%}
  <script src="{{ 'quick-add-bulk.js' | asset_url }}" defer="defer"></script>
  <script src="{{ 'quantity-popover.js' | asset_url }}" defer="defer"></script>
  <script src="{{ 'price-per-item.js' | asset_url }}" defer="defer"></script>
  <script src="{{ 'quick-order-list.js' | asset_url }}" defer="defer"></script>
{%- endif -%}

{%- style -%}
  .section-{{ section.id }}-padding {
    padding-top: {{ section.settings.padding_top | times: 0.75 | round: 0 }}px;
    padding-bottom: {{ section.settings.padding_bottom | times: 0.75 | round: 0 }}px;
  }

  @media screen and (min-width: 750px) {
    .section-{{ section.id }}-padding {
      padding-top: {{ section.settings.padding_top }}px;
      padding-bottom: {{ section.settings.padding_bottom }}px;
    }
  }
{%- endstyle -%}

<div class="section-{{ section.id }}-padding gradient color-{{ section.settings.color_scheme }} Collection_template_main_new">
   {%  render 'hb-collection-banner' %}
  {%- paginate collection.products by section.settings.products_per_page -%}
    {% comment %} Sort is the first tabbable element when filter type is vertical {% endcomment %}
    {%- if section.settings.enable_sorting and section.settings.filter_type == 'vertical' -%}
      <facet-filters-form class="facets facets-vertical-sort page-width small-hide medium-hide large-up-hide">
        <div class="Collection_template_mainparts_new">
          <div class="Collection_template_innerparts_new">
            <div class="Collection_template_innerparts_mainbutton_new">
              <div class="button Collection_template_innerparts_innerbutton_new">
                <svg width="8" height="15" viewBox="0 0 8 15" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M6.64746 13.7881L1.0004 7.71125L6.64746 1.78809" stroke="white" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/></svg>Hide Filters
              </div>
            </div>
            <div class="Collection_template_innerparts_maincount_new">
              <div class="Collection_template_innerparts_innercount_new">
                {% comment %}
                <form class="facets-vertical-form" id="FacetSortForm">
                  <div class="facet-filters sorting caption">
                    <div class="facet-filters__field">
                      <h2 class="facet-filters__label caption-large text-body">
                        <label for="SortBy">{{ 'products.facets.sort_by_label' | t }}</label>
                      </h2>
                      <div class="select">
                        {%- assign sort_by = collection.sort_by | default: collection.default_sort_by -%}
                        <select
                          name="sort_by"
                          class="facet-filters__sort select__select caption-large"
                          id="SortBy"
                          aria-describedby="a11y-refresh-page-message"
                        >
                          {%- for option in collection.sort_options -%}
                            <option
                              value="{{ option.value | escape }}"
                              {% if option.value == sort_by %}
                                selected="selected"
                              {% endif %}
                            >
                              {{ option.name | escape }}
                            </option>
                          {%- endfor -%}
                        </select>
                        {% render 'icon-caret' %}
                      </div>
                    </div>
                  </div>
        
                  <div class="product-count-vertical light" role="status">
                    <h2 class="product-count__text text-body">
                      <span id="ProductCountDesktop">
                        {%- if collection.results_count -%}
                          {{
                            'templates.search.results_with_count'
                            | t: terms: collection.terms, count: collection.results_count
                          }}
                        {%- elsif collection.products_count == collection.all_products_count -%}
                          {{ 'products.facets.product_count_simple' | t: count: collection.products_count }}
                        {%- else -%}
                          {{
                            'products.facets.product_count'
                            | t: product_count: collection.products_count, count: collection.all_products_count
                          }}
                        {%- endif -%}
                      </span>
                    </h2>
                    {%- render 'loading-spinner' -%}
                  </div>
                </form>
                {% endcomment %}
              </div>
            </div>
          </div>
        </div>
      </facet-filters-form>
    {%- endif -%}

    <div class="Collection_template_bottom_main_new {% if section.settings.filter_type == 'vertical' %} facets-vertical page-width{% endif %}">
      {{ 'component-facets.css' | asset_url | stylesheet_tag }}
      <script src="{{ 'facets.js' | asset_url }}" defer="defer"></script>
      {%- if section.settings.enable_filtering or section.settings.enable_sorting -%}
        <aside
          aria-labelledby="verticalTitle"
          class="Collection_template_leftside_new facets-wrapper{% unless section.settings.enable_filtering %} facets-wrapper--no-filters{% endunless %}{% if section.settings.filter_type != 'vertical' %} page-width{% endif %}"
          id="main-collection-filters"
          data-id="{{ section.id }}"
        >
          <div class="Collection_template_bottom_left_new">
            <div class="Collection_template_innerparts_mainbutton_new hide_filter">
              <div class="button">
                <span class="Hide_Filters_new">
                  <svg width="8" height="15" viewBox="0 0 8 15" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M6.64746 13.7881L1.0004 7.71125L6.64746 1.78809" stroke="white" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/></svg>
                  Hide Filters
                </span>
                <span class="Show_Filters_new">
                  Show Filters
                  <svg width="8" height="15" viewBox="0 0 8 15" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M1 1.78809L6.64706 7.86492L1 13.7881" stroke="white" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/></svg>
                </span>
              </div>
            </div>

            <div class="Collection_filter_new">
              {% render 'facets',
                results: collection,
                enable_filtering: section.settings.enable_filtering,
                enable_sorting: section.settings.enable_sorting,
                filter_type: section.settings.filter_type,
                paginate: paginate
              %}
            </div>
          </div>
        </aside>
      {%- endif -%}

      <div
        class="Collection_template_rightside_new product-grid-container{% if settings.animations_reveal_on_scroll %} scroll-trigger animate--slide-in{% endif %}"
        id="ProductGridContainer"
        {% if settings.animations_reveal_on_scroll %}
          data-cascade
        {% endif %}
      >
        {%- if collection.products.size == 0 -%}
          <div class="collection collection--empty page-width" id="product-grid" data-id="{{ section.id }}">
            <div class="loading-overlay gradient"></div>
            <div class="title-wrapper center">
              <h2 class="title title--primary">
                {{ 'sections.collection_template.empty' | t -}}
                <br>
                {{
                  'sections.collection_template.use_fewer_filters_html'
                  | t: link: collection.url, class: 'underlined-link link'
                }}
              </h2>
            </div>
          </div>
        {%- else -%}
          
          <div class="product_count_main_new">
            <div class="Collection_template_innerparts_mainbutton_blank_new">
              {% comment %}
                <div class="button show_filter">
                  Show Filters<svg width="8" height="15" viewBox="0 0 8 15" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M1 1.78809L6.64706 7.86492L1 13.7881" stroke="white" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/></svg>
                </div>
              {% endcomment %}
            </div>
                  
            <div class="product-count-vertical" role="status">
              <h2 class="product-count__text text-body">
                <span id="ProductCountDesktop">
                  {%- if collection.results_count -%}
                    {{
                      'templates.search.results_with_count'
                      | t: terms: collection.terms, count: collection.results_count
                    }}
                  {%- elsif collection.products_count == collection.all_products_count -%}
                    {{ 'products.facets.product_count_simple' | t: count: collection.products_count }}
                  {%- else -%}
                    {{
                      'products.facets.product_count'
                      | t: product_count: collection.products_count, count: collection.all_products_count
                    }}
                  {%- endif -%}
                </span>
              </h2>
              {%- render 'loading-spinner' -%}
            </div>

            <div class="grid_list_view_new">
              <div class="grid_list_view_left_new">
                <a href="javascript:void(0)" class="tablinks grid-view-btn grid_in active" data-view="grid">
                  <svg class="no_active_icon" width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <rect width="20" height="20" fill="white"/>
                    <rect x="2.16602" y="2.1665" width="6.5" height="6.5" rx="0.5" stroke="#2D4256"/>
                    <rect x="2.16602" y="11.333" width="6.5" height="6.5" rx="0.5" stroke="#2D4256"/>
                    <rect x="11.332" y="2.1665" width="6.5" height="6.5" rx="0.5" stroke="#2D4256"/>
                    <rect x="11.332" y="11.333" width="6.5" height="6.5" rx="0.5" stroke="#2D4256"/>
                  </svg>

                  <svg class="active_icon" width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <rect width="20" height="20" fill="white"/>
                    <rect x="1.66699" y="1.66663" width="7.5" height="7.5" rx="1" fill="#2D4256"/>
                    <rect x="1.66699" y="10.8333" width="7.5" height="7.5" rx="1" fill="#2D4256"/>
                    <rect x="10.834" y="1.66663" width="7.5" height="7.5" rx="1" fill="#2D4256"/>
                    <rect x="10.834" y="10.8333" width="7.5" height="7.5" rx="1" fill="#2D4256"/>
                  </svg>
                </a>
              </div>
              <div class="grid_list_view_right_new">
                <a href="javascript:void(0)" class="tablinks grid-view-btn scroll_in" data-view="scroll">
                  <svg class="no_active_icon" width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <rect width="20" height="20" fill="white"/>
                    <rect x="2.16699" y="1.75" width="15.6667" height="12" stroke="#2D4256"/>
                    <rect x="1.66992" y="16.8" width="16.67" height="1.5" fill="#2D4256"/>
                  </svg>
                  <svg class="active_icon" width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <rect width="20" height="20" fill="white"/>
                    <rect x="2.16797" y="1.75" width="15.6667" height="12" fill="#2D4256" stroke="#2D4256"/>
                    <rect x="1.66992" y="16.7998" width="16.67" height="1.5" fill="#2D4256"/>
                  </svg>
                </a>
              </div>
            </div>
            
          </div>
          
          <div
            class="collection{% if section.settings.filter_type != 'vertical' %} page-width{% endif %} Collection_template_rightside_mainloop_new"
          >
            <div class="loading-overlay gradient"></div>
            <ul
              id="product-grid"
              data-id="{{ section.id }}"
              class="Collection_template_rightside_innerloop_new grid product-grid grid--{{ section.settings.columns_mobile }}-col-tablet-down
                grid--{{ section.settings.columns_desktop }}-col-desktop
                {% if section.settings.quick_add == 'bulk' %} collection-quick-add-bulk{% endif %}
              "
            >
              {% assign skip_card_product_styles = false %}
              {%- for product in collection.products -%}
                {% assign lazy_load = false %}
                {%- if forloop.index > 2 -%}
                  {%- assign lazy_load = true -%}
                {%- endif -%}
                <li 
                  js-hb-product-card 
                  class="grid__item{% if settings.animations_reveal_on_scroll %} scroll-trigger animate--slide-in{% endif %}"
                  {% if settings.animations_reveal_on_scroll %}
                    data-cascade
                    style="--animation-order: {{ forloop.index }};"
                  {% endif %}
                >
                  {% render 'card-product',
                    card_product: product,
                    media_aspect_ratio: section.settings.image_ratio,
                    image_shape: section.settings.image_shape,
                    show_secondary_image: section.settings.show_secondary_image,
                    show_vendor: section.settings.show_vendor,
                    show_rating: section.settings.show_rating,
                    lazy_load: lazy_load,
                    skip_styles: skip_card_product_styles,
                    quick_add: section.settings.quick_add,
                    section_id: section.id
                  %}
                </li>
                {%- assign skip_card_product_styles = true -%}
              {%- endfor -%}

              {%- if collection.metafields.custom.collection_banner_box_selection.value != blank -%}
                <div style="display: none !important;">
                {%- for collection_banner_box_selection in collection.metafields.custom.collection_banner_box_selection.value -%}
                  {%- if collection_banner_box_selection.collection_banner_box.value.desktop_image_or_video.value != blank or collection_banner_box_selection.collection_banner_box.value.mobile_image_or_video.value != blank -%}
                    <li js-hb-product-card js-hb-custom-banner data-mobile-position="{{ collection_banner_box_selection.mobile_position.value }}" data-desktop-position="{{ collection_banner_box_selection.desktop_position.value }}" class="grid__item Collection_template_rightside_innerloop_mainboxs_new{% unless collection_banner_box_selection.collection_banner_box.value.title.value != blank and collection_banner_box_selection.collection_banner_box.value.information.value != blank and collection_banner_box_selection.collection_banner_box.value.button_text.value != blank %} Collection_template_rightside_innerloop_mainboxs_onlybanner_new{% endunless %} {%- if collection_banner_box_selection.collection_banner_box.value.small_review_box.value == true %} Collection_template_rightside_innerloop_mainboxs_small_review_new {% endif %} {%- if collection_banner_box_selection.collection_banner_box.value.small_review_box.value == true or collection_banner_box_selection.collection_banner_box.value.author_review_text.value != blank or collection_banner_box_selection.collection_banner_box.value.author_name.value != blank  %} Collection_template_rightside_innerloop_mainboxs_small_review_mobile_new {% endif %}">
                      {%- if collection_banner_box_selection.collection_banner_box.value.button_link.value != blank -%}
                        <a href="{{ collection_banner_box_selection.collection_banner_box.value.button_link.value }}">
                      {%- endif -%}
                          <div class="Collection_template_rightside_innerloop_innerboxs_new">
                            {%- if collection_banner_box_selection.collection_banner_box.value.desktop_image_or_video.value != blank or collection_banner_box_selection.collection_banner_box.value.mobile_image_or_video.value != blank -%}
                              <div class="Collection_template_rightside_innerloop_innerboxs_mainboths_new">
                                <div class="Collection_template_rightside_innerloop_innerboxs_innerboths_new">

                                  {% if collection_banner_box_selection.collection_banner_box.value.desktop_image_or_video.value != blank %}
                                    {%- if collection_banner_box_selection.collection_banner_box.value.desktop_image_or_video.value contains "files" -%}
                                      <div class="Collection_template_rightside_innerloop_innerboxs_innerboths_videoimage_new desktop_only">
                                        {{
                                          collection_banner_box_selection.collection_banner_box.value.desktop_image_or_video.value | 
                                          image_url: width: img.width | 
                                          image_tag: widths: '750, 900, 1080, 1296, 1512, 1728, 1944, 2048', 
                                          fetchpriority: 'auto', 
                                          class:'Static_image_new'
                                        }}
                                      </div>
                                    {%- else -%}
                                      <div class="Collection_template_rightside_innerloop_innerboxs_innerboths_videoimage_new desktop_only">
                                        {{ collection_banner_box_selection.collection_banner_box.value.desktop_image_or_video.value | video_tag: class:'Static_video_new', image_size: 'master', controls: false, autoplay: true, loop: true }}
                                      </div>
                                    {%- endif -%}
                                  {%- endif -%}

                                  {% if collection_banner_box_selection.collection_banner_box.value.mobile_image_or_video.value != blank %}
                                    {%- if collection_banner_box_selection.collection_banner_box.value.mobile_image_or_video.value contains "files" -%}
                                      <div class="Collection_template_rightside_innerloop_innerboxs_innerboths_videoimage_new mobile_only">
                                        {{
                                          collection_banner_box_selection.collection_banner_box.value.mobile_image_or_video.value | 
                                          image_url: width: img.width | 
                                          image_tag: widths: '750, 900, 1080, 1296, 1512, 1728, 1944, 2048', 
                                          fetchpriority: 'auto', 
                                          class:'Static_image_new'
                                        }}
                                      </div>
                                    {%- else -%}
                                      <div class="Collection_template_rightside_innerloop_innerboxs_innerboths_videoimage_new mobile_only">
                                        {{ collection_banner_box_selection.collection_banner_box.value.mobile_image_or_video.value | video_tag: class:'Static_video_new', image_size: 'master', controls: false, autoplay: true, loop: true }}
                                      </div>
                                    {%- endif -%}
                                  {%- endif -%}
                                </div>
                              </div>
                            {%- endif -%}
                            {%- if collection_banner_box_selection.collection_banner_box.value.small_review_box.value == true or collection_banner_box_selection.collection_banner_box.value.author_review_text.value != blank or collection_banner_box_selection.collection_banner_box.value.author_name.value != blank  %}
                              <div class="Collection_template_rightside_innerloop_innerboxs_review_new">
                                <div class="Collection_template_rightside_innerloop_innerboxs_review_star_new">
                                  <svg width="74" height="13" viewBox="0 0 74 13" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <path d="M6.50962 10.3764C6.58907 10.3285 6.68854 10.3285 6.76799 10.3764L10.4576 12.6033C10.6469 12.7176 10.8804 12.5478 10.8302 12.3325L9.85109 8.13542C9.83001 8.04505 9.86072 7.95043 9.93086 7.88967L13.191 5.06544C13.3581 4.92064 13.2688 4.64608 13.0484 4.62738L8.75602 4.26322C8.66363 4.25538 8.58316 4.19704 8.54698 4.11167L6.86899 0.152565C6.78284 -0.0506922 6.49477 -0.050692 6.40863 0.152565L4.73064 4.11167C4.69445 4.19704 4.61398 4.25538 4.52159 4.26322L0.229213 4.62738C0.00885677 4.64608 -0.0804948 4.92064 0.0866546 5.06544L3.34676 7.88967C3.4169 7.95043 3.44761 8.04505 3.42652 8.13542L2.44741 12.3325C2.39717 12.5478 2.63073 12.7176 2.82006 12.6033L6.50962 10.3764Z" fill="#2D4256"/>
                                    <path d="M21.5096 10.3763C21.5891 10.3284 21.6885 10.3284 21.768 10.3763L25.4576 12.6032C25.6469 12.7175 25.8804 12.5477 25.8302 12.3324L24.8511 8.1353C24.83 8.04493 24.8607 7.95031 24.9309 7.88955L28.191 5.06532C28.3581 4.92052 28.2688 4.64596 28.0484 4.62726L23.756 4.26309C23.6636 4.25526 23.5832 4.19692 23.547 4.11155L21.869 0.152443C21.7828 -0.0508143 21.4948 -0.0508141 21.4086 0.152443L19.7306 4.11155C19.6945 4.19692 19.614 4.25526 19.5216 4.26309L15.2292 4.62726C15.0089 4.64596 14.9195 4.92052 15.0867 5.06532L18.3468 7.88955C18.4169 7.95031 18.4476 8.04493 18.4265 8.1353L17.4474 12.3324C17.3972 12.5477 17.6307 12.7175 17.8201 12.6032L21.5096 10.3763Z" fill="#2D4256"/>
                                    <path d="M36.5096 10.3763C36.5891 10.3284 36.6885 10.3284 36.768 10.3763L40.4576 12.6032C40.6469 12.7175 40.8804 12.5477 40.8302 12.3324L39.8511 8.1353C39.83 8.04493 39.8607 7.95031 39.9309 7.88955L43.191 5.06532C43.3581 4.92052 43.2688 4.64596 43.0484 4.62726L38.756 4.26309C38.6636 4.25526 38.5832 4.19692 38.547 4.11155L36.869 0.152443C36.7828 -0.0508143 36.4948 -0.0508141 36.4086 0.152443L34.7306 4.11155C34.6945 4.19692 34.614 4.25526 34.5216 4.26309L30.2292 4.62726C30.0089 4.64596 29.9195 4.92052 30.0867 5.06532L33.3468 7.88955C33.4169 7.95031 33.4476 8.04493 33.4265 8.1353L32.4474 12.3324C32.3972 12.5477 32.6307 12.7175 32.8201 12.6032L36.5096 10.3763Z" fill="#2D4256"/>
                                    <path d="M51.5096 10.3763C51.5891 10.3284 51.6885 10.3284 51.768 10.3763L55.4576 12.6032C55.6469 12.7175 55.8804 12.5477 55.8302 12.3324L54.8511 8.1353C54.83 8.04493 54.8607 7.95031 54.9309 7.88955L58.191 5.06532C58.3581 4.92052 58.2688 4.64596 58.0484 4.62726L53.756 4.26309C53.6636 4.25526 53.5832 4.19692 53.547 4.11155L51.869 0.152443C51.7828 -0.0508143 51.4948 -0.0508141 51.4086 0.152443L49.7306 4.11155C49.6945 4.19692 49.614 4.25526 49.5216 4.26309L45.2292 4.62726C45.0089 4.64596 44.9195 4.92052 45.0867 5.06532L48.3468 7.88955C48.4169 7.95031 48.4476 8.04493 48.4265 8.1353L47.4474 12.3324C47.3972 12.5477 47.6307 12.7175 47.8201 12.6032L51.5096 10.3763Z" fill="#2D4256"/>
                                    <path d="M66.5096 10.3763C66.5891 10.3284 66.6885 10.3284 66.768 10.3763L70.4576 12.6032C70.6469 12.7175 70.8804 12.5477 70.8302 12.3324L69.8511 8.1353C69.83 8.04493 69.8607 7.95031 69.9309 7.88955L73.191 5.06532C73.3581 4.92052 73.2688 4.64596 73.0484 4.62726L68.756 4.26309C68.6636 4.25526 68.5832 4.19692 68.547 4.11155L66.869 0.152443C66.7828 -0.0508143 66.4948 -0.0508141 66.4086 0.152443L64.7306 4.11155C64.6945 4.19692 64.614 4.25526 64.5216 4.26309L60.2292 4.62726C60.0089 4.64596 59.9195 4.92052 60.0867 5.06532L63.3468 7.88955C63.4169 7.95031 63.4476 8.04493 63.4265 8.1353L62.4474 12.3324C62.3972 12.5477 62.6307 12.7175 62.8201 12.6032L66.5096 10.3763Z" fill="#2D4256"/>
                                  </svg>
                                </div>
                                {% if collection_banner_box_selection.collection_banner_box.value.author_review_text.value != blank %}
                                  <div class="Collection_template_rightside_innerloop_innerboxs_review_info_new">
                                    {{ collection_banner_box_selection.collection_banner_box.value.author_review_text | metafield_tag }}
                                  </div>
                                {% endif %}
                                {% if collection_banner_box_selection.collection_banner_box.value.author_image.value != blank %}
                                  <div class="Collection_template_rightside_innerloop_innerboxs_review_image_new">
                                    {{
                                      collection_banner_box_selection.collection_banner_box.value.author_image.value | 
                                      image_url: width: img.width | 
                                      image_tag: widths: '750, 900, 1080, 1296, 1512, 1728, 1944, 2048', 
                                      fetchpriority: 'auto', 
                                      class:'Static_image_new'
                                    }}
                                  </div>
                                {% endif %}
                                {% if collection_banner_box_selection.collection_banner_box.value.author_name.value != blank %}
                                  <div class="Collection_template_rightside_innerloop_innerboxs_review_name_new">
                                    {{ collection_banner_box_selection.collection_banner_box.value.author_name.value }}
                                  </div>
                                {% endif %}      
                              </div>
                            {% else %}
                              {%- if collection_banner_box_selection.collection_banner_box.value.title.value != blank or collection_banner_box_selection.collection_banner_box.value.information.value != blank or collection_banner_box_selection.collection_banner_box.value.button_text.value != blank -%}
                                <div class="Collection_template_rightside_innerloop_innerboxs_maintexts_new">
                                  <div class="Collection_template_rightside_innerloop_innerboxs_innertexts_new">
                                    {%- if collection_banner_box_selection.collection_banner_box.value.title.value != blank -%}
                                      <div class="Common_title_new Collection_template_rightside_innerloop_innerboxs_innertexts_title_new">
                                        <h2>{{ collection_banner_box_selection.collection_banner_box.value.title.value }}</h2>
                                      </div>
                                    {%- endif -%}
                                    {%- if collection_banner_box_selection.collection_banner_box.value.information.value != blank -%}
                                      <div class="Collection_template_rightside_innerloop_innerboxs_innertexts_infos_new">
                                        {{ collection_banner_box_selection.collection_banner_box.value.information | metafield_tag }}
                                      </div>
                                    {%- endif -%}
                                    {%- if collection_banner_box_selection.collection_banner_box.value.button_text.value != blank -%}
                                      <div class="Collection_template_rightside_innerloop_innerboxs_innertexts_button_new">
                                        {{ collection_banner_box_selection.collection_banner_box.value.button_text.value }}
                                      </div>
                                    {%- endif -%}
                                  </div>
                                </div>
                              {%- endif -%}
                            {%- endif -%}
                          </div>
                      {%- if collection_banner_box_selection.collection_banner_box.value.button_link.value != blank -%}
                        </a>
                      {%- endif -%}
                    </li>
                  {%- endif -%}  
                {%- endfor -%}
                </div>
              {%- endif -%}
              
            </ul>

            {%- if paginate.pages > 1 -%}
              {% render 'pagination', paginate: paginate, anchor: '' %}
            {%- endif -%}
          </div>
        {%- endif -%}
      </div>
    </div>
  {%- endpaginate -%}
  {% if section.settings.image_shape == 'arch' %}
    {% render 'mask-arch' %}
  {%- endif -%}
</div>


<script>
  (() => {
    function customBannerInject() {
      const customBanners = document.querySelectorAll('[js-hb-custom-banner]');
      customBanners.forEach(banner => {
        const desktopPosition = banner.dataset.desktopPosition;
        const mobilePosition = banner.dataset.mobilePosition;

        if(window.innerWidth >= 750) {
          if(document.querySelectorAll('[js-hb-product-card]')[desktopPosition - 1]) {
            document.querySelectorAll('[js-hb-product-card]')[desktopPosition - 1].insertAdjacentElement('beforebegin', banner.cloneNode(true));
          }
        } else {
          if(document.querySelectorAll('[js-hb-product-card]')[mobilePosition - 1]) {
            document.querySelectorAll('[js-hb-product-card]')[mobilePosition - 1].insertAdjacentElement('beforebegin', banner.cloneNode(true));
          }
        }
        
      })
    }
    customBannerInject()
    document.addEventListener('customBannerInject:init', customBannerInject)
  })()
</script>
                      
{% schema %}
{
  "name": "t:sections.main-collection-product-grid.name",
  "class": "section Collection_template_new",
  "settings": [
    {
      "type": "url",
      "id": "return_url",
      "label": "Return to Shop all Collection page"
    },
    {
      "type": "range",
      "id": "products_per_page",
      "min": 8,
      "max": 36,
      "step": 4,
      "default": 16,
      "label": "t:sections.main-collection-product-grid.settings.products_per_page.label"
    },
    {
      "type": "range",
      "id": "columns_desktop",
      "min": 1,
      "max": 6,
      "step": 1,
      "default": 4,
      "label": "t:sections.main-collection-product-grid.settings.columns_desktop.label"
    },
    {
      "type": "color_scheme",
      "id": "color_scheme",
      "label": "t:sections.all.colors.label",
      "info": "t:sections.all.colors.has_cards_info",
      "default": "scheme-1"
    },
    {
      "type": "header",
      "content": "t:sections.main-collection-product-grid.settings.header__3.content"
    },
    {
      "type": "select",
      "id": "image_ratio",
      "options": [
        {
          "value": "adapt",
          "label": "t:sections.main-collection-product-grid.settings.image_ratio.options__1.label"
        },
        {
          "value": "portrait",
          "label": "t:sections.main-collection-product-grid.settings.image_ratio.options__2.label"
        },
        {
          "value": "square",
          "label": "t:sections.main-collection-product-grid.settings.image_ratio.options__3.label"
        }
      ],
      "default": "adapt",
      "label": "t:sections.main-collection-product-grid.settings.image_ratio.label"
    },
    {
      "type": "select",
      "id": "image_shape",
      "options": [
        {
          "value": "default",
          "label": "t:sections.all.image_shape.options__1.label"
        },
        {
          "value": "arch",
          "label": "t:sections.all.image_shape.options__2.label"
        },
        {
          "value": "blob",
          "label": "t:sections.all.image_shape.options__3.label"
        },
        {
          "value": "chevronleft",
          "label": "t:sections.all.image_shape.options__4.label"
        },
        {
          "value": "chevronright",
          "label": "t:sections.all.image_shape.options__5.label"
        },
        {
          "value": "diamond",
          "label": "t:sections.all.image_shape.options__6.label"
        },
        {
          "value": "parallelogram",
          "label": "t:sections.all.image_shape.options__7.label"
        },
        {
          "value": "round",
          "label": "t:sections.all.image_shape.options__8.label"
        }
      ],
      "default": "default",
      "label": "t:sections.all.image_shape.label",
      "info": "t:sections.all.image_shape.info"
    },
    {
      "type": "checkbox",
      "id": "show_secondary_image",
      "default": false,
      "label": "t:sections.main-collection-product-grid.settings.show_secondary_image.label"
    },
    {
      "type": "checkbox",
      "id": "show_vendor",
      "default": false,
      "label": "t:sections.main-collection-product-grid.settings.show_vendor.label"
    },
    {
      "type": "checkbox",
      "id": "show_rating",
      "default": false,
      "label": "t:sections.main-collection-product-grid.settings.show_rating.label",
      "info": "t:sections.main-collection-product-grid.settings.show_rating.info"
    },
    {
      "type": "select",
      "id": "quick_add",
      "default": "none",
      "label": "t:sections.main-collection-product-grid.settings.quick_add.label",
      "info": "t:sections.main-collection-product-grid.settings.quick_add.info",
      "options": [
        {
          "value": "none",
          "label": "t:sections.main-collection-product-grid.settings.quick_add.options.option_1"
        },
        {
          "value": "standard",
          "label": "t:sections.main-collection-product-grid.settings.quick_add.options.option_2"
        },
        {
          "value": "bulk",
          "label": "t:sections.main-collection-product-grid.settings.quick_add.options.option_3"
        }
      ]
    },
    {
      "type": "header",
      "content": "t:sections.main-collection-product-grid.settings.header__1.content"
    },
    {
      "type": "checkbox",
      "id": "enable_filtering",
      "default": true,
      "label": "t:sections.main-collection-product-grid.settings.enable_filtering.label",
      "info": "t:sections.main-collection-product-grid.settings.enable_filtering.info"
    },
    {
      "type": "select",
      "id": "filter_type",
      "options": [
        {
          "value": "horizontal",
          "label": "t:sections.main-collection-product-grid.settings.filter_type.options__1.label"
        },
        {
          "value": "vertical",
          "label": "t:sections.main-collection-product-grid.settings.filter_type.options__2.label"
        },
        {
          "value": "drawer",
          "label": "t:sections.main-collection-product-grid.settings.filter_type.options__3.label"
        }
      ],
      "default": "horizontal",
      "label": "t:sections.main-collection-product-grid.settings.filter_type.label",
      "info": "t:sections.main-collection-product-grid.settings.filter_type.info"
    },
    {
      "type": "checkbox",
      "id": "enable_sorting",
      "default": true,
      "label": "t:sections.main-collection-product-grid.settings.enable_sorting.label"
    },
    {
      "type": "header",
      "content": "t:sections.main-collection-product-grid.settings.header_mobile.content"
    },
    {
      "type": "select",
      "id": "columns_mobile",
      "default": "2",
      "label": "t:sections.main-collection-product-grid.settings.columns_mobile.label",
      "options": [
        {
          "value": "1",
          "label": "t:sections.main-collection-product-grid.settings.columns_mobile.options__1.label"
        },
        {
          "value": "2",
          "label": "t:sections.main-collection-product-grid.settings.columns_mobile.options__2.label"
        }
      ]
    },
    {
      "type": "header",
      "content": "t:sections.all.padding.section_padding_heading"
    },
    {
      "type": "range",
      "id": "padding_top",
      "min": 0,
      "max": 100,
      "step": 4,
      "unit": "px",
      "label": "t:sections.all.padding.padding_top",
      "default": 36
    },
    {
      "type": "range",
      "id": "padding_bottom",
      "min": 0,
      "max": 100,
      "step": 4,
      "unit": "px",
      "label": "t:sections.all.padding.padding_bottom",
      "default": 36
    }
  ]
}
{% endschema %}
