{% if section.settings.main_background_color != blank or section.settings.main_heading_text !=blank or section.settings.main_information_text != blank or section.blocks.size > 0 %}
  <div class="Page_image_grid_form_banner_main_new" style="background-color: {{ section.settings.main_background_color }}">
    <div class="page-width">
      <div class="Page_image_grid_form_banner_inner_new">
        <div class="Page_image_grid_form_banner_sides">
          {% if section.settings.main_mp4_video_desktop != blank or section.settings.main_grid_image_desktop %}
          <div class="Page_image_grid_form_banner_leftmain custom__image_main">
              <div class="Page_image_grid_form_banner_leftinner">
                <div class="custom___image__wrapper">
                  {% if section.settings.main_mp4_video_desktop != blank or section.settings.main_grid_image_desktop %}
                      <div class="single_grid_image_main desktop_only">
                        {% if section.settings.main_mp4_video_desktop != blank %}
                          {{ section.settings.main_mp4_video_desktop | video_tag: image_size: 'master', controls: false, autoplay: true, loop: true }}
                        {% else %}
                        {{
                            section.settings.main_grid_image_desktop | 
                            image_url: width: img.width | 
                            image_tag: widths: '750, 900, 1080, 1296, 1512, 1728, 1944, 2048', 
                            fetchpriority: 'auto', 
                            class:'grid_image'
                          }}
                        {% endif %}
                      </div>
                        {% endif %}
                </div>
              </div>
           </div> 
          {% else %}
          {% if section.blocks.size > 0 %}
            <div class="Page_image_grid_form_banner_leftmain">
              <div class="Page_image_grid_form_banner_leftinner">
                <div class="Page_image_grid_main desktop_image_grid small-hide">
                  {% for block in section.blocks %}
                    {% if block.type == "grid-image-dekstop" %}
                      {% if block.settings.main_mp4_video_desktop != blank or block.settings.main_grid_image_desktop %}
                      <div class="single_grid_image_main desktop_only">
                        {% if block.settings.main_mp4_video_desktop != blank %}
                          {{ block.settings.main_mp4_video_desktop | video_tag: image_size: 'master', controls: false, autoplay: true, loop: true }}
                        {% else %}
                        {{
                            block.settings.main_grid_image_desktop | 
                            image_url: width: img.width | 
                            image_tag: widths: '750, 900, 1080, 1296, 1512, 1728, 1944, 2048', 
                            fetchpriority: 'auto', 
                            class:'grid_image'
                          }}
                        {% endif %}
                      </div>
                        {% endif %}
                    {% endif %}
                  {% endfor %}
                </div>
                <div class="Page_image_grid_main mobile_image_grid large-up-hide medium-hide">
                  {% for block in section.blocks %}
                    {% if block.type == "grid-image-mobile" %}
                      {% if block.settings.main_mp4_video_mobile != blank or block.settings.main_grid_image_mobile %}
                      <div class="single_grid_image_main  mobile_only">
                        {% if block.settings.main_mp4_video_mobile != blank %}
                          {{ block.settings.main_mp4_video_mobile | video_tag: image_size: 'master', controls: false, autoplay: true, loop: true }}
                        {% else %}
                        {{
                            block.settings.main_grid_image_mobile | 
                            image_url: width: img.width | 
                            image_tag: widths: '750, 900, 1080, 1296, 1512, 1728, 1944, 2048', 
                            fetchpriority: 'auto', 
                            class:'grid_image'
                          }}
                        {% endif %}
                      </div>
                        {% endif %}
                      
                    {% endif %}
                  {% endfor %}
                </div>
              </div>
            </div>
          {% endif %}
          {% endif %}
          {% if section.settings.main_heading_text != blank or section.settings.main_information_text != blank %}
            <div class="Page_image_grid_form_banner_rightmain">
              <div class="Page_image_grid_form_banner_rightinner">
                {% if section.settings.main_heading_text != blank %}
                <div class="Page_image_grid_form_banner_heading_text Common_title_new">
                  <h2>{{ section.settings.main_heading_text }}</h2>
                </div>
                {% endif %}
                {% if section.settings.main_information_text != blank %}
                <div class="Page_image_grid_form_banner_information_text Index_meet_image_all_text_sides_innerright_infos_new">
                  {{ section.settings.main_information_text }}
                </div>
                {% endif %}
                <div class="Common_title_new">
                  <h2>
                    <br> Form will come!!
                  </h2>
                </div>
              </div>
            </div>
          {% endif %}
        </div>
      </div>
    </div>
  </div>
{% endif %}
<style>
  .custom__image_main .single_grid_image_main{
    position: relative;
    display: flex;
    flex-wrap: wrap;
  }
  .custom__image_main .single_grid_image_main img{
    width:100%;
    border-radius:12px;
  }
</style>
{% schema %}
  {
    "name": "Page Image Grid Form",
    "class": "Page_image_grid_form_banner_new",
    "settings": [
      {
        "type": "color",
        "id": "main_background_color",
        "label": "Add Main Background Color",
        "default": "#FFFFFF"
      },
      {
        "type": "textarea",
        "id": "main_heading_text",
        "label": "Add Main Heading Text",
        "default": "Refer a Friend"
      },
      {
        "type": "textarea",
        "id": "main_information_text",
        "label": "Add Main Information Text",
        "default": "<p>Share the love! Give friends $20 off their first frame, and you'll get <span>$20 off your next frame</span>, when they make a purchase. It's a win-win! Beautiful baths for all! :)</p>"
      },
      {
        "type": "video",
        "id": "main_mp4_video_desktop",
        "label": "Add Main MP4 Video for Desktop"
      },
      {
        "type": "image_picker",
        "id": "main_grid_image_desktop",
        "label": "Add Main Grid Image for desktop"
      }
    ],
    "blocks":[
      {
        "type": "grid-image-dekstop",
        "name": "Grid Image Desktop",
        "limit": 4,
        "settings": [
          {
              "type": "video",
              "id": "main_mp4_video_desktop",
              "label": "Add Main MP4 Video for Desktop"
          },
            {
              "type": "image_picker",
              "id": "main_grid_image_desktop",
              "label": "Add Main Grid Image for desktop"
            }
        ]
      },
      {
        "type": "grid-image-mobile",
        "name": "Grid Image mobile",
        "limit": 3,
        "settings": [
          {
              "type": "video",
              "id": "main_mp4_video_mobile",
              "label": "Add Main MP4 Video for Mobile"
          },
            {
              "type": "image_picker",
              "id": "main_grid_image_mobile",
              "label": "Add Main Grid Image for mobile"
            }
        ]
      }
    ],
    "presets": [
      {
        "name": "Page Image Grid Form Banner",
        "blocks":[
          {
            "type": "grid-image-dekstop"
          },
          {
            "type": "grid-image-mobile"
          }
        ]
      }
    ]
  }
{% endschema %}