{% if section.blocks.size > 0 %}
  <div class="Page_3_column_cards_main Page_3_column_cards_main_{{ section.id }}" style="background-color: {{ section.settings.main_background_color }}" data-aos-easing="linear">
    <div class="page-width">
      <div class="Page_3_column_cards_inner">
        <div class="Page_3_column_cards_grid" data-aos="fade-up" data-aos-delay="1000">
          {% for block in section.blocks %}
            {% if block.type == "column-card" %}
              {% if block.settings.card_title != blank or block.settings.card_description != blank or block.settings.card_link != blank or block.settings.card_link_text != blank or block.settings.card_image != blank %}
                <div class="column_card" style="background-color: {{ block.settings.card_background_color }}">
                  <div class="column_card_inner">
                    {% if block.settings.card_image != blank %}
                      <div class="column_card_image">
                        {{
                            block.settings.card_image | 
                            image_url: width: img.width | 
                            image_tag: widths: '750, 900, 1080, 1296, 1512, 1728, 1944, 2048', 
                            fetchpriority: 'auto', 
                            class:'card_image'
                          }}
                      </div>
                    {% endif %}
                    {% if block.settings.card_title != blank or block.settings.card_description != blank or block.settings.card_link != blank or block.settings.card_link_text != blank %}
                      <div class="column_card_information">
                        {% if block.settings.card_title != blank %}
                          <div class="column_card_title">
                            <h5>
                              {{ block.settings.card_title }}
                            </h5>
                          </div>
                        {% endif %}
                        {% if block.settings.card_description != blank %}
                          <div class="column_card_description">
                            {{ block.settings.card_description }}
                          </div>
                        {% endif %}
                        {% if block.settings.card_link != blank or block.settings.card_link_text != blank %}
                          <div class="column_card_link">
                            <a href="{{ block.settings.card_link }}">
                              {{ block.settings.card_link_text }}
                            </a>
                          </div>
                        {% endif %}
                      </div>
                    {% endif %}
                  </div>
                </div>
              {% endif %}
            {% endif %}
          {% endfor %}
        </div>
      </div>
    </div>
  </div>
{% endif %}

<style>
  .Page_3_column_cards_main { padding: 96px 0; }
  .Page_3_column_cards_grid { display: flex; flex-wrap: wrap; gap: 16px; }
  .Page_3_column_cards_grid .column_card { width: calc(33.33% - 11px); border-radius: 12px; overflow: hidden; }
  .Page_3_column_cards_grid .column_card_information { padding: 20px 24px 24px; }
  .Page_3_column_cards_grid .column_card_title h5 { font-size: 24px; line-height: 120%; letter-spacing: -0.2px; color: #2D4256; margin: 0; }
  .Page_3_column_cards_grid .column_card_description { padding-top: 8px; }
  .Page_3_column_cards_grid .column_card_description p, .Page_3_column_cards_grid .column_card_link a { color: #2D4256; font-size: 16px; line-height: 135%; font-weight: 400; margin: 0; }
  .Page_3_column_cards_grid .column_card_link { padding-top: 20px; }
  .Page_3_column_cards_grid .column_card_link a { position: relative; text-transform: uppercase; font-weight: 700; letter-spacing: 0.32px; }
  .Page_3_column_cards_grid .column_card_link a:before {  content: ""; width: 100%; height: 2px; top: 100%; left: 0; background-color: #2D4256; }
  .Page_3_column_cards_grid .column_card_image { aspect-ratio: 1.54145; }
  .Page_3_column_cards_grid .column_card_image img { display: block; height: 100% !important; width: 100%; object-fit: cover; }

  @media (max-width:989px){
    .Page_3_column_cards_main { padding: 56px 0; }
    .Page_3_column_cards_grid .column_card { border-radius: 8px; }
    .Page_3_column_cards_grid .column_card_information {  padding: 16px; }
    .Page_3_column_cards_grid .column_card_link { padding-top: 16px; }
    .Page_3_column_cards_grid .column_card_title h5 { font-size: 20px; }
  }

  @media (max-width: 749px){
    .Page_3_column_cards_grid { gap: 24px; }
    .Page_3_column_cards_grid .column_card { width: 100%; }
    .Page_3_column_cards_grid .column_card_image { aspect-ratio: 1.58014; }
  }
  
</style>

{% schema %}
  {
    "name": "3 Column Cards",
    "class": "Page_3_column_cards_section",
    "settings": [
      {
        "type": "color",
        "id": "main_background_color",
        "label": "Add Main Background Color",
        "default": "#FFFFFF"
      }
    ],
    "blocks":[
      {
        "type": "column-card",
        "name": "Column Card",
        "settings": [
          {
            "type": "color",
            "id": "card_background_color",
            "label": "Add Card Background Color",
            "default": "#F6F3F2"
          },
          {
            "type": "image_picker",
            "id": "card_image",
            "label": "Card Image"
          },
          {
            "type": "textarea",
            "id": "card_title",
            "label": "Add Card Title",
            "default": "Easy to measure"
          },
          {
            "type": "textarea",
            "id": "card_description",
            "label": "Add Card Description",
            "default": "<p>Once you select your desired style, it’s time to measure your mirror. Just grab a tape measure and start our 3-minute measuring process.</p>"
          },
          {
            "type": "text",
            "id": "card_link_text",
            "label": "learn more",
            "default": "learn more"
          },
          {
            "type": "url",
            "id": "card_link",
            "label": "Add Card Link",
            "default": "/"
          }
        ]
      }
    ],
    "presets": [
      {
        "name": "Page 3 Column Cards Section",
        "blocks": [
          {
            "type": "column-card"
          }
        ]
      }
    ]
  }
{% endschema %}